/* 
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}
.quantity__minus,
.quantity__plus {
  display: flex;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
} */

.shopping-cart {
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}

.shopping-cart.dark {
  background-color: #f6f6f6;
}

.shopping-cart .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.shopping-cart .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.shopping-cart .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.shopping-cart .dark .block-heading p {
  opacity: 0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #95a5a6;
}

.shopping-cart .items {
  margin: auto;
}

.shopping-cart .items .product {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .items .product .info {
  padding-top: 0px;
  text-align: center;
}

.shopping-cart .items .product .info .product-name {
  font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info {
  font-size: 14px;
  margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value {
  font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input {
  margin: auto;
  width: 80px;
}

.shopping-cart .items .product .info .price {
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

.shopping-cart .summary {
  border-top: 2px solid #5ea4f3;
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;
}

.shopping-cart .summary h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .texts {
  font-size: 1em;
  font-weight: 600;
}

.shopping-cart .summary .price {
  font-size: 1em;
  float: right;
}

.shopping-cart .summary button {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .shopping-cart .items .product .info {
    padding-top: 25px;
    text-align: left;
  }

  .shopping-cart .items .product .info .price .bill {
    font-weight: bold;
    font-size: 22px;
    top: 17px;
  }

  .shopping-cart .items .product .info .quantity {
    text-align: center;
  }
  .shopping-cart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
}
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
}
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}
.btn-lg {
  background-color: #95a5a6;
}

.empty-cart {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: "Maison Neue";
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
/* p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 24px;
  max-width: 80%;
  margin: 1.25rem auto 0 auto;
} */

/* body {
  background: #f2f2f2;
} */
/* svg
  max-width 60%
  padding 5rem 3rem
  
  #oval, #plus, #diamond, #bubble-rounded
    animation plopp 4s ease-out infinite
    
    for i in (1..16)
      &:nth-child({i})
        animation-delay -240ms * i
  
  #bg-line
    &:nth-child(2)
      fill-opacity .3
    &:nth-child(3)
      fill-opacity .4
  
@keyframes plopp
  0%
    transform translate(0, 0)
    opacity 1
  100%
    transform translate(0, -10px)
    opacity 0
    

  
*/

.containers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}
.left-column img {
  /* width: 100%; */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}
/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type] {
  display: none;
}

.color-choose input[type] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="&amp;quot;radio&amp;quot;"] + label span {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="&amp;quot;radio&amp;quot;"]#red + label span {
  background-color: #c91524;
}
.color-choose input[type="&amp;quot;radio&amp;quot;"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="&amp;quot;radio&amp;quot;"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="&amp;quot;radio&amp;quot;"]:checked + label span {
  /* background-image: url(images/check-icn.svg); */
  background-repeat: no-repeat;
  background-position: center;
}
/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939e;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ed7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  /* content: &amp;quot;?&amp;quot;; */
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {

  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}


.body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
	height: 60vh;
	width: 1000vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CartContainer {
	width: 70%;
	height: 90%;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px #1687d933;
}

.Header {
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.Heading {
	font-size: 20px;
	font-family: "Open Sans";
	font-weight: 700;
	color: #2f3841;
	text-align: center;
}

.Action {
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: 600;
	color: #e44c4c;
	cursor: pointer;
	border-bottom: 1px solid #e44c4c;
}

.Cart-Items {
	margin: auto;
	width: 90%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box {
	width: 15%;
	text-align: center;
}
.about {
	height: 100%;
	width: 24%;
}
.titless {
	padding-top: 50px;
	line-height: 50px;
	font-size: 32px;
	font-family: "Open Sans";
	font-weight: 800;
	color: #202020;
}
.subtitles {
	line-height: 30px;
	font-size: 18px;
	font-family: "Open Sans";
	font-weight: 600;
	color: #909090;
}
.prices {
	height: 100%;
	text-align: right;
}
.amount {
	padding-top: 50px;
	font-size: 26px;
	font-family: "Open Sans";
	font-weight: 800;
	color: #202020;
	overflow: hidden;
}
.save {
	padding-top: 5px;
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove {
	padding-top: 5px;
	font-size: 14px;
	font-family: "Open Sans";
	font-weight: 600;
	color: #e44c4c;
	cursor: pointer;
}

.pad {
	margin-top: 5px;
}

hr {
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout {
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal {
	font-size: 22px;
	font-family: "Open Sans";
	font-weight: 700;
	color: #202020;
}
.items {
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 500;
	color: #909090;
	/* line-height: 10px; */
}
.total-amount {
	font-size: 36px;
	font-family: "Open Sans";
	font-weight: 900;
	color: #202020;
}
.button {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #b8d7ff, #8eb7eb);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 600;
	color: #202020;
	margin-top: 72px;
}
